* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Navbar Styling */
.navbar-container {
  background-color: #f0ece2; /* Updated color */
  width: 100%;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  height: 60px;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  color: #c7b198; /* Updated color */
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-menu ul li a {
  color: #596e79; /* Updated color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.nav-menu ul li a:hover {
  background-color: #dfd3c3; /* New color for hover effect */
  color: #113f67; /* Darker color for text on hover */
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f0ece2; /* Updated color */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  margin: 0;
}

.dropdown-content ul li a {
  color: #596e79; /* Updated color */
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-content ul li a:hover {
  background-color: #dfd3c3; /* New color for hover effect */
  color: #113f67; /* Darker color for text on hover */
}

.dropdown-content.show {
  display: block;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
}

.icon-hamburger {
  display: inline;
}

.icon-close {
  display: none;
}

.dropdown-content.show ~ .hamburger .icon-hamburger {
  display: none;
}

.dropdown-content.show ~ .hamburger .icon-close {
  display: inline;
}

/* About Section */
.about-section {
  background-color: #dfd3c3; /* Updated color */
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 2;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 20px;
}

.about-text ul {
  list-style: disc;
  padding-left: 20px;
}

.about-text ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c7b198; /* Updated color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.btn:hover {
  background-color: #596e79; /* Darker color for hover effect */
}

/* Services Section Styling */
#services {
  padding: 50px 20px;
  background-color: #f0ece2; /* Background color */
  text-align: center;
}

#services h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Always 2 columns */
  gap: 20px; /* Space between items */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Add padding for better spacing */
}

.service-item {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto; /* Center items */
}

.service-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

#portafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 20px; /* Top padding ensures the content is spaced from the navbar */
  background-color: #dfd3c3;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

#portafolio h1 {
  margin-bottom: 20px; /* Space between the h1 and the carousel */
  font-size: 2.5rem;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  border-radius: 10px;
  max-width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the carousel */
}

.carousel-inner img {
  border-radius: 10px; /* Optional: Apply the same border-radius to images */
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Center contact form horizontally and vertically */
  background-color: #efefee;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form elements horizontally */
  gap: 20px;
  max-width: 600px; /* Adjust the form size on large screens */
  width: 100%; /* Ensure it is responsive */
}

.contact-left-title h2 {
  font-weight: 600;
  color: #f0c27b;
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center; /* Center title text */
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #f0c27b;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 100%; /* Adjust width for responsiveness */
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 2px solid #8ab3e1;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-content.show {
    display: block;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left-section {
    margin-bottom: 10px;
  }

  .about-content {
    display: block; /* Make sure content is block-level */
  }

  .about-image {
    float: left; /* Float image to the left */
    margin: 0 20px 20px 0; /* Margin around the image */
    width: 100%;
    max-width: 150px; /* Adjust as needed */
  }

  .about-text {
    text-align: left; /* Align text to the left for better readability */
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .about-text ul li {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    grid-template-rows: repeat(2, auto); /* Two rows layout */
    gap: 10px; /* Smaller gap between items */
    padding: 0 10px; /* Adjust padding for smaller devices */
  }

  .service-item {
    padding: 15px; /* Adjust padding for smaller screens */
    margin: 10px auto; /* Center items with margin */
  }

  .service-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .carousel-container {
    max-width: 90%; /* Slightly wider on smaller screens */
  }

  #portafolio {
    padding: 60px 10px 20px; /* Adjust padding for smaller devices */
  }

  #portafolio h1 {
    font-size: 2rem; /* Reduce the font size on smaller screens */
  }

  .contact-inputs {
    width: 80vw;
  }
}

/* Media query for screens between 770px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .service-item {
    padding: 20px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    grid-template-rows: repeat(2, auto); /* Two rows layout */
    gap: 20px; /* Adjust gap for medium screens */
    padding: 0 20px; /* Adjust padding for medium screens */
  }
  .contact-left {
    max-width: 700px; /* Slightly larger form on larger screens */
  }
}
